<p>
  <a href="https://www.carpentries.org">The Carpentries</a>
  aims to help researchers get their work done
  in less time and with less pain
  by teaching them basic research computing and data skills.
  This hands-on workshop will cover the basics of a data workflow, starting with SQL databases and going on to introduce data cleaning with OpenRefine and basic programmig and plotting using Python.
  Participants will be encouraged to help one another
  and to apply what they have learned to their own research problems.
</p>
<p align="center">
  <em>
    For more information on what we teach and why,
    please see our paper
    "<a href="http://journals.plos.org/plosbiology/article?id=10.1371/journal.pbio.1001745">Best Practices for Scientific Computing</a>".
  </em>
</p>
<p>
<a href="https://www.kth.se/form/20200922-stockholmtrio-online">Click here to sign up for the workshop</a>
</p>


  
                      
