 <div class="row">
  <div class="col-md-6">
    <h3 id="syllabus-python"> Plotting and Programming in Python</h3>
    <ul>
      <li>Running and quiting</li>
      <li>Variables and assignment</li>
      <li>Data types and type conversion</li>
      <li>Built-in functions and help</li>
      <li>Loops and Conditionals</li>
      <li>Libraries</li>
      <li>Pandas DataFrames</li>
      <li>Plotting</li>
      <li>Lists</li>
      <li>For loops</li>
      <li>Conditionals</li>
      <li>Looping over data sets</li>
      <li>Writing functions</li>
      <li>Variable Scope</li>
      <li>Programming style</li>
      <li><a href="{{site.swc_pages}}/python-novice-gapminder/reference">Reference...</a></li>
    </ul>
  </div>
  <!--
  <div class="col-md-6">
    <h3 id="syllabus-r">Programming in R</h3>
    <ul>
      <li>Working with Vectors and Data Frames</li>
      <li>Reading and Plotting Data</li>
      <li>Creating and Using Functions</li>
      <li>Loops and Conditionals</li>
      <li>Using R from the Command Line</li>
      <li><a href="{{site.swc_pages}}/r-novice-inflammation/reference">Reference...</a></li>
    </ul>
  </div>
  -->
  <!--
  <div class="col-md-6">
    <h3 id="syllabus-matlab">Programming in MATLAB</h3>
    <ul>
      <li>Working with Arrays</li>
      <li>Reading and Plotting Data</li>
      <li>Creating and Using Functions</li>
      <li>Loops and Conditionals</li>
      <li>Defensive Programming</li>
      <li><a href="{{site.swc_pages}}/matlab-novice-inflammation/reference">Reference...</a></li>
     </ul>
   </div>
   -->
</div>

<!-- <div class="row">
  <div class="col-md-6">
    <h3 id="syllabus-git">Version Control with Git</h3>
    <ul>
      <li>Creating a Repository</li>
      <li>Recording Changes to Files: <code>add</code>, <code>commit</code>, ...</li>
      <li>Viewing Changes: <code>status</code>, <code>diff</code>, ...</li>
      <li>Ignoring Files</li>
      <li>Working on the Web: <code>clone</code>, <code>pull</code>, <code>push</code>, ...</li>
      <li>Resolving Conflicts</li>
      <li>Open Licenses</li>
      <li>Where to Host Work, and Why</li>
      <li><a href="{{site.swc_pages}}/git-novice/reference">Reference...</a></li>
    </ul>
  </div>
-->
  <div class="col-md-6">
    <h3 id="syllabus-sql">Databases and SQL</h3>
    <ul>
      <li>Selecting data</li>
      <li>Sorting and removing duplicates</li>
      <li>Filtering</li>
      <li>Calculating new values</li>
      <li>Missing data</li>
      <li>Aggregation</li>
      <li>Combining data</li>
      <li>Data hygiene</li>
      <li>Creating and modifying data</li>
      <li><a href="{{site.swc_pages}}/sql-novice-survey/reference">Reference...</a></li>
    </ul>
  </div>
   
  <div class="col-md-6">
    <h3 id="syllabus-r">Open Refine</h3>
    <ul>
      <li>Working with OpenRefine</li>
      <li>Filtering and sorting with OpenRefine</li>
      <li>Examining numbers in OpenRefine</li>
      <li>Using scripts</li>
      <li>Exporting and saving data from OpenRefine</li>
      <li>Other resources in OpenRefine</li>
      <li><a href="{{site.dc_pages}}socialsci-openrefine/reference">Reference...</a></li>
    </ul>
  </div>
</div>
